*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-blue: #405fe7;
    --primary-gray: #363636;
    --gray-1: #7e7e7e;
    --gray-2: #808080;
    --pink: #c744b5;
    --white: #fdfdfd;
    overflow-x: hidden;

}

.section-1{
    margin: 0 auto; /*deixa o conteúdo centralizado*/
    max-width: 1024px; /*comprime o conteúdo no centro*/
    padding: 1rem;
    width: 100vw;
    height: 80vh;
    max-width: 1024px;
}

#hero-section-1{
    width: 90vw;
    display: flex;
}

.left-side-hero{
    width: 40vw;
}

.text-left-side{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.title{
    font-family: 'Poppins';
    font-size: 2.25rem;
    color: var(--primary-gray);
}

.change-color-title{
    color: var(--primary-blue);
}

.paragraph{
    font-family: 'Inter';
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--gray-1);
}

.paragraph-before-title{
    color: var(--pink);
    font-weight: 600;
    font-size: 1rem;
}

.btn-left-side{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.btn{
    margin-top: 24px;
    width: 200px;
    height: 40px;
    flex-grow: 0;
    background: var(--primary-blue);
    border-radius:  10px;
    border: solid var(--primary-blue);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: var(--white);
    letter-spacing: 0.085em;
    cursor: pointer;
}

.btn-right{
    background: var(--white);
    border-radius:  10px;
    border: solid var(--white);
    color: var(--primary-blue);
}

.btn-right:hover{
    background: var(--gray-1);
    border: var(--gray-1);
    color: var(--white);
}
.cards-hero{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-wrapper{
    margin-top: 30px;
    width: 100%;
    height: 20vh;
    display: flex;
    gap: 3.3000000000000007rem;
}

.card-hero{
    width: 15vw;
    height: 20vh;
}

.title-card-hero{
    font-family: 'Poppins';
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--primary-blue);
}





.right-side-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45vw;
}



@media (max-width: 600px) {

    .section-1{
        height: 1000px;
    }

    #hero-section-1{
        display: flex;
        flex-direction: column;
    }

    .left-side-hero{
        display: flex;
        flex-direction: column;
        width: 90vw;
    }

    .btn-left-side{
        height: 15vh;
    }
    .text-left-side{
        height: 35vh;
        gap: 2.5rem;
        text-align: center;
        justify-content: center;
    }

    .title{
        text-align: center;
    }

    .btn{
        width: 150px;
        font-size: .8rem;
    }

    .btn-left-side{
        justify-content: center;
    }

    .cards-hero{
        display: flex;
        justify-content: space-around;
        text-align: center;
        height: 28vh;
    }

    .card-wrapper{
        justify-content: space-around;
        align-content: center;
        gap: 1rem;
    }
    .card-hero{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: rgb(226, 226, 226);
        border-radius: 10px;
        width: 30vw;
        height: 12vh;

    }
    .title-card-hero{
        font-size: .9rem;
    }

    .right-side-hero{
        width: 90vw;
    }
}

