@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

:root{
    --color-principal: #403F4C;
    --color-second: #2C2B3C;
    --color-third: #1B2432;
    --color-fourth: #121420;
    --color-fifth: #B76D68;
    --color-sixth: #8B8B8B;
    --color-background-blur: #2c2b3cb3;
    --color-white: #f1f1f1;
}
::-webkit-scrollbar{
    width: .5rem;
    background: var(--color-sixth);
}

body{
    margin: 0 auto;
    background: var(--color-principal);
}

 
@media screen and (min-width: 350px) and (max-width: 600px) {

    h1{
        font-family: 'Rubik';
        color: var(--color-white);
    }
    .btn-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background: var(--color-second);
    }



    input[type="checkbox"] {
        display: flex;
        align-items: center;
        width: 4rem;
        height: 2rem;
        appearance: none;
        background: var(--color-principal);
        border-radius: 50px;
        cursor: pointer;
        transition: .4s;
    }
    
    input:checked[type='checkbox'] {
        background: var(--color-sixth);
    }

    input[type="checkbox"]::before {
        content: "";
        width: 2rem;
        height: 1.8rem;
        background: var(--color-white);
        border-radius: 50px;
        position: absolute;
        box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.25);
        transform: scale(1.1);
        transition: .4s;
    }

    input:checked[type="checkbox"]:before{
        left: 3.2rem;
        transition: .4s;

    }
 

    .right-btn{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #btn-mobile{
        padding: .5rem;
        background: var(--color-principal);
        border-radius: 10px;
        outline: none;  
        border: none;
        cursor: pointer;
    }

    #menu{
        display: none;
        gap: 2rem;
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0;
        background: rgba(44, 43, 60, 0.70);
        backdrop-filter: blur(5px);
        color: #FFFFFF;
        font-family: 'Rubik';   
    }

    #menu > li {
        border-bottom: 1px solid var(--color-fifth);
        list-style: none;
    }

    #nav.active #menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;
    }

    #hamburger{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: 4px solid #8b8b8b;

    }

    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 30px;
        height: 4px;
        margin-top: .3rem;
        background: #8b8b8b;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger{
        border-top-color: transparent;
    }

    #nav.active #hamburger::before{
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top: -9px;
    }

    .section-hero{
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
        border-radius: 30px;
    }

    .container{
        display: flex;
        flex-direction: column;
        background: var(--color-fourth);
        padding: 1rem 1rem;
        border-radius: 30px;
    }

    .greeting{
        font-family: 'Rubik';
        color: var(--color-fifth);
        font-size: 1.2rem;
        font-weight: 1rem;
        margin-top: 2rem;
    }

    .title-white{
        color: white;
        font-family: 'Rubik';
        font-size: 1.6rem;
    }

    .description-content{
        color: var(--color-fifth);
        font-family: 'Rubik';
        font-size: 1.2rem;
    }

    .title-hero{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .contact{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-radius: 2rem;
    }

    .text-white-accent{
        color: var(--color-white);
        text-transform: uppercase;
        text-align: center;
        font-family: 'Rubik';
        font-weight: 600;
    }

    .btn-hero{
        display: flex;
        width: 60%;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px;
        cursor: pointer;
        gap: .5rem;
    }

    .title-btn-hero{
        font-family: 'Rubik';
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
        color: var(--color-white);
        background: var(--color-sixth);
        padding: .4rem;
        border-radius: 5px;
    }
    
    .cta-hero{
        font-family: 'Rubik';
        font-size: .5rem;
        color: #c4c4c4;
        text-decoration: underline;
    }

    .jobs-section{
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    #title-jobs{
        font-weight: 500;
    }

    .container-jobs{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        background: var(--color-fourth);
        border-radius: 30px;
        gap: 2rem;
    }

    .jobs{
        display: flex;
        justify-content: space-between;
        background: var(--color-sixth);
        border-radius: 20px;
        padding: 0 1rem;
        cursor: pointer;
    }
    .title-jobs{
        font-family: 'Rubik';
        color: var(--color-white);
        font-weight: 500;
    }
}
